<div class="left-padded">
  <h1>Castles</h1>
  <h3><a href="/castles/new">Create a Castle</a></h3>
<% if @users_castles.length > 0 %>
  <h3>Castles you created:</h3>
  <div class="row grid-inner-borders-dotted">
    <% @users_castles.each do |user_castle| %>
      <div class="col-lg-4">
        <!-- Product 2 -->
        <div class="card mb-4 product-card overlay-hover">
          <div class="pos-relative">
            <a href='/castles/<%=user_castle.id%>'><img width="300" height="300" class="card-img-top img-fluid" src="<%=user_castle.avatar.url%>"></a>
          </div>
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary">Created by: <%= user_castle.user.first_name %></small>
            <h4 class="card-title">
              <%= user_castle.castle_name %>
            </h4>
          </div>
          <%= form_tag "/castles/#{user_castle.id}/", method: :delete do %>
            <button>Delete</button>
          <%end%>
          <a href='/castles/<%=user_castle.id%>/edit'><button>Rename</button></a>
        </div>
      </div>
    <% end %>
  </div>
<%else%>
    <h4> You have not created a Castle yet </h4>
<%end%>

<hr>

<% if @castles_users.length > 0 %>
  <h3>Castles you've joined:</h3>
  <div class="row grid-inner-borders-dotted">  
    <% @castles_users.each do |castle_user| %>
      <div class="col-lg-4">
        <!-- Product 2 -->
        <div class="card mb-4 product-card overlay-hover">
          <div class="pos-relative">
            <a href='/castles/<%=castle_user.castle.id%>'><img  width="300" height="300" class="card-img-top img-fluid" src="<%=castle_user.castle.avatar.url%>"></a>
          </div>
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary">Created by: <%= castle_user.castle.user.first_name %></span></small>
            <h4 class="card-title">
              <%= castle_user.castle.castle_name %>
            </h4>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<% else %>
  <h4> You have not joined a Castle yet </h4>
<%end%>
</div>

<style>
  .left-padded {
    padding-left: 12px;
  }
</style>