<div id="content">
  <div class="container" id="about">
    <div class="row">
      <!-- sidebar -->
      <div class="col-md-3">        
        <!-- Sections Menu-->
        <div class="nav nav-section-menu">
          <span class="nav-header">All Topics</span>
          <%if @topics.length > 0%> 
            <%@topics.each do |topic|%>
            <a href="/castles/<%=params[:castle_id]%>/<%=topic.id%>" class="nav-link"><%=topic.title%> <i class="fa fa-angle-right"></i></a>
            <%end%>
          <%end%>
        </div>
      </div>
      <!--main content-->
      <div class="col-md-9">
        <h2 class="title-divider">

          <!-- TITLE -->
          <span>Edit Entry</span>
        </h2>
        <hr>
        <div>
          <%= form_tag "/castles/#{@entry.topic.castle_id}/#{@entry.topic.id}/#{@entry.id}", method: :patch do %>
            <div class="form-group">
              <label>Entry</label>
              <textarea class="form-control" id="entry" name="entry" rows="4" placeholder="<%=@entry.entry%>"></textarea>
            </div>
            <br>
            <input type="submit" value="Create">
          <%end%>
        </div>

        <!--  -->
      </div>
    </div>
  </div>
</div>