<h1> <%= @topic.title %> </h1>

<h2>
  <a href=<%="/castles/#{@topic.castle_id}/#{@topic.id}/new"%>> New Entry</a>
</h2>
<h2>
  <a href=<%="/castles/#{@topic.castle_id}/#{@topic.id}/url/new"%>> New URL</a>
</h2>
<% @topic.entries.each do |entry| %>
  <div>
    <p>
      <%= entry.entry %>
      <a href=<%="/castles/#{entry.topic.castle_id}/#{entry.topic.id}/#{entry.id}/edit"%>>Edit</a>
      <%= form_tag "/castles/#{entry.topic.castle_id}/#{entry.topic.id}/#{entry.id}", method: :delete do %>
        <input type="submit" value="Delete">
      <%end%>
    </p>
  </div>
<%end%>

<h2>Resource Links</h2>
<% @resource_links.each do |url| %>
  <div>
    <p>
      <%= url.url %>
      <a href=<%="/castles/#{url.topic.castle_id}/#{url.topic.id}/url/#{url.id}/edit"%>>Edit</a>
      <%= form_tag "/castles/#{url.topic.castle_id}/#{url.topic.id}/url/#{url.id}", method: :delete do %>
        <input type="submit" value="Delete">
      <%end%>
    </p>
  </div>
<%end%>

<h2>Associated Images</h2>
<% @image_links.each do |url| %>
  <div>
    <p>
      <%= url.url %>
      <a href=<%="/castles/#{url.topic.castle_id}/#{url.topic.id}/url/#{url.id}/edit"%>>Edit</a>
      <%= form_tag "/castles/#{url.topic.castle_id}/#{url.topic.id}/url/#{url.id}", method: :delete do %>
        <input type="submit" value="Delete">
      <%end%>
    </p>
  </div>
<%end%>