<div id="content">
  <div class="container" id="about">
    <div class="row">
      <!-- sidebar -->
      <div class="col-md-3">        
        <!-- Sections Menu-->
        <div class="nav nav-section-menu">
          <span class="nav-header">All Topics</span>
          <%if @topics.length > 0%> 
            <%@topics.each do |topic|%>
            <a href="/castles/<%=params[:id]%>/<%=topic.id%>" class="nav-link"><%=topic.title%> <i class="fa fa-angle-right"></i></a>
            <%end%>
          <%else%>
            <a href="/castles/<%=params[:id]%>/new" class="nav-link">New Topic<i class="fa fa-angle-right"></i></a>
          <%end%>
        </div>
      </div>
      <!--main content-->
      <div class="col-md-9">
        <h2 class="title-divider">
          <span> Welcome to <%= @castle.castle_name %></span>
        </h2>
        <%if @role != 'Member' %>
          <h4><a href=<%="/castles/#{@castle.id}/new"%>>Add New Topic</a></h4>
          <h4>Invite Member to Castle
            <%= form_tag "/castles/invite", method: :post do %>
              <input type="text" name="user_email" placeholder="Email Address">
              <input type="submit" value="Invite">
              <input type="hidden" value="<%=@castle.id%>", name="castle_id">
            <%end%>
          </h4>
        <%end%>
        <%=image_tag @castle.avatar.url %>
      </div>
    </div>
  </div>
</div>