<!DOCTYPE html>
<html lang="en">
  <head>
    <% flash.each do |name, message|%>
      <div> <%= message %> </div> 
    <%end%>
    <title>ShareCastle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    
    <!-- Bootstrap v4.0.0-beta CSS via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    
    <!-- Plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->
    
    <!-- Theme style -->
    <link href="/assets/css/theme-style.min.css" rel="stylesheet">
    
    <!--Your custom colour override-->
    <link href="/assets/css/colour-orange.css" id="colour-scheme" rel="stylesheet">
    
    <!-- Your custom override -->
    <link href="/assets/css/custom-style.css" rel="stylesheet">
    
    
    
    <!-- Optional: ICON SETS -->
    <!-- Iconset: Font Awesome 4.7.0 via CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Iconset: ionicons - http://ionicons.com/ -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- Iconset: Linearicons - https://linearicons.com/free -->
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
    
    
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    
    <!--Plugin: Retina.js (high def image replacement) - @see: http://retinajs.com/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
  </head>
  
  <!-- ======== @Region: body ======== -->
  <body class="page page-index navbar-layout-default">
    
    <!-- @plugin: page loading indicator, delete to remove loader -->
    <!--<div class="page-loader" data-toggle="page-loader"></div>
    
    <a id="#top" href="#content" class="sr-only">Skip to content</a> 
     -->
    <!-- ======== @Region: #header ======== -->
    <div id="header">        
        <!--Header & Branding region-->
        <div class="header">
          <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .order-first or/and .order-last classes to make an element show first or last within .header-inner or .headr-block elements -->
          <div class="header-inner container">
            <!--branding/logo -->
            <div class="header-brand">
              <a class="header-brand-text" href="/" title="Home">
                <h1>
                  <span>Share</span>Castle<span></span>
                </h1>
              </a>
            </div>
            <!-- other header content -->
            
            <div class="navbar navbar-expand-md">
              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-main collapse">
                <!--main navigation-->
                <ul class="nav navbar-nav float-lg-right dropdown-effect-fade">               
                  <!-- Pages -->
                  <!-- If not logged in, nav bar shows login and sign up -->
                  <%if current_user == nil %>
                    <li class="nav-item dropdown">
                      <a href="/login" class="nav-link dropdown-toggle">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a href="/signup" class="nav-link dropdown-toggle">Sign Up</a>
                    </li>
                  <%end%>

                  <!-- If logged in, show Castles & Profile links -->
                  <%if current_user != nil %>
                    <li>
                      <li class="nav-item dropdown">
                        <a href="/logout" class="nav-link dropdown-toggle">Logout</a>
                      </li>
                    </li>

                    <li>
                      <li class="nav-item dropdown">
                        <a href="/castles" class="nav-link dropdown-toggle">Castles</a>
                      </li>
                    </li>

                    <li>
                      <li class="nav-item dropdown">
                        <a href="/profile" class="nav-link dropdown-toggle">Profile</a>
                      </li>
                    </li>
                  <%end%>

                  <!-- if id (exclusive to castle) show "members" link -->
                  <% if params[:id] %>
                    <li>
                      <li class="nav-item dropdown">
                        <a href="/castles/<%=params[:id]%>/members" class="nav-link dropdown-toggle">members</a>
                      </li>
                    </li>
                  <%end%>

                  <!-- if castle_id show Castle Home -->
                  <% if params[:castle_id] %>
                    <li>
                      <li class="nav-item dropdown">
                        <a href="/castles/<%=params[:castle_id]%>" class="nav-link dropdown-toggle">Castle Home</a>
                      </li>
                    </li>
                  <%end%>

                  <!-- Mega menu example -->
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ======== @Region: #highlighted ======== -->
    <%= yield %>
    
    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="p-0">
      <div class="container pt-6 pb-5">
        <div class="row">
          <div class="col-md-4">
            <!--replace with company contact details-->
            <h4 class="text-uppercase text-white">
              Contact Us
            </h4>
            <address>
              <ul class="list-unstyled">
                <li>
                  <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
                  Jaron.Branham@Gmail.com
                </li>
              </ul>
            </address>
          </div>
          
          <div class="col-md-4">
            <h4 class="text-uppercase text-white">
              ShareCastle
            </h4>
            <p>Create, Build and Share information your way!</p>
          </div>
        </div>
        
      </div>
      <hr class="my-0 hr-blank op-2" />
    </footer>
    <!--Hidden elements - excluded from jPanel Menu on mobile-->
    <div class="hidden-elements jpanel-menu-exclude">
      <!--@modal - signup modal-->
      <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                Sign Up
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form action="signup.html">
                <div class="form-group">
                  <h5>
                    Price Plan
                  </h5>
                  <select class="form-control">
                    <option>Basic</option>
                    <option>Pro</option>
                    <option>Pro +</option>
                  </select>
                </div>
                <hr />
                
                <h5>
                  Account Information
                </h5>
                <div class="form-group">
                  <label class="sr-only" for="signup-first-name">First Name</label>
                  <input type="text" class="form-control" id="signup-first-name" placeholder="First name">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="signup-last-name">Last Name</label>
                  <input type="text" class="form-control" id="signup-last-name" placeholder="Last name">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="signup-username">Userame</label>
                  <input type="text" class="form-control" id="signup-username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="signup-email">Email address</label>
                  <input type="email" class="form-control" id="signup-email" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="signup-password">Password</label>
                  <input type="password" class="form-control" id="signup-password" placeholder="Password">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" value="term" class="form-check-input">
                    I agree with the Terms and Conditions. 
                  </label>
                </div>
                <hr />
                <button class="btn btn-primary" type="submit">Sign up</button>
              </form>
            </div>
            <div class="modal-footer">
              <small>Already signed up? <a href="login.html">Login here</a>.</small>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
      <!--@modal - login modal-->
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                Login
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form action="login.html">
                <div class="form-group">
                  <label class="sr-only" for="login-email">Email</label>
                  <input type="email" id="login-email" class="form-control email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="login-password">Password</label>
                  <input type="password" id="login-password" class="form-control password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary">Login</button>
              </form>
            </div>
            <div class="modal-footer">
              <small>Not a member? <a href="#" class="signup">Sign up now!</a></small>
              <br />
              <small><a href="#">Forgotten password?</a></small>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
    
    <!--jQuery 3.2.1 via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper 1.9.3 via CDN, needed for Bootstrap Tooltips & Popovers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.3/umd/popper.min.js"></script>
    
    <!-- Bootstrap v4.0.0-beta JS via CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    
    
    <!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->
    
    <!--Custom scripts & AppStrap API integration -->
    <script src="/assets/js/custom-script.js"></script>
    <!--AppStrap scripts mainly used to trigger libraries/plugins -->
    <script src="/assets/js/script.min.js"></script>
    <% flash.each do |name, message|%>
      <div> <%= message %> </div> 
    <%end%>
  </body>
</html>